<div class="right controls"><h2><%= link_to "Curso de "+@forum.frm_category.title, frm_forums_path %></h2></div>
<div class="module">
  <div class="module_header">
    <%= @forum.title %>
    <span class="controls right">
      <%= link_to t(:new_topic), new_frm_forum_frm_topic_path(@forum) %>
      <%= link_to t(:edit_forum), edit_frm_forum_path(@forum) %>
      <%= link_to t(:delete_forum), frm_forum_path(@forum), :confirm => "Are you sure you want to delete this forum?", :method => :delete %>
    </span>
  </div>
  <div>
    <table>
      <tr class="smaller">
        <th colspan="2" align="left"><%= t(:topic) %></th>
        <th><%= t(:replies) %></th>
        <th><%= t(:views) %></th>
        <th class="last_post" align="left"><%= t(:last_post) %></th>
      </tr>
      <% @forum.frm_topics.each do |topic| %>
      <tr>
        <td class="icon"><%= image_tag 'ruby.png' %></td>
        <td class="description">
          <%= link_to topic.title, frm_topic_path(topic) %><br />
          <span class="smaller">by <%= topic.user.username %></span>
        </td>
        <td class="counts smaller"><%= topic.frm_posts.size - 1 %></td>
        <td class="counts smaller"><%= topic.hits %></td>
        <td class="last_post smaller">
          <%= topic.frm_posts.last.created_at %><br />
          by <%= topic.frm_posts.last.user.username %>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
