<div class="module">
  <div class="module_header"><%=  t "Post" %> <%= t action_name.humanize %></div>
    <div class="module_subheader smaller"></div>
    <div class="module_body">
      <%= form_for [@topic, @post] do |f| %>
      <% if @post.errors.any? %>
        <% flash.now[:error] = @post.errors.full_messages.join(', and ') %>
      <% end %>
      <div class="fieldset">
        <span class="label indent smaller">
          <%= f.label :body %><br />
          <small>(<%= t :required %>)</small>
        </span>
        <span class="input indent smaller"><%= f.text_area :body, :cols => 60, :rows => 15 %></span>
        <div class="clear"></div>
      </div>
    </div>
    <div class="module_footer">
      <div class="fieldset">
        <span class="input"><%= f.submit t :submit %> <%= t :or %> <%= link_to t(:cancel), @topic %></span>
        <div class="clear"></div>
      </div>
    </div>
    <% end %>
  </div>
</div>