<!DOCTYPE html>
<html>
<head>
  <title>Forum Simple</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
 <% if flash[:notice] %>
    <div class="notice"><%= t flash[:notice] %></div>
  <% end %>
<% if flash[:alert] %>
    <p class="flash-error"><%= t flash[:alert] %></p>
  <% end %>
<%= yield %>
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, t(msg), :id => "flash_#{name}" %>
  <% end %>
<% end %>
</body>
</html>
